Source: lektra
Section: utils
Priority: optional
Maintainer: Dheeraj Vittal Shenoy <dheerajshenoy22@gmail.com>
Build-Depends: debhelper-compat (= 13), build-essential, pkgconf, cmake, ninja-build, g++
Standards-Version: 4.6.2

Package: lektra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qt6-base-dev, qt6-tools-dev, qt6-l10n-tools, unzip, zlib1g-dev, libgl1-mesa-dri, mesa-common-dev, imagemagick, libmagick++-dev
Description: High-performance document and image viewer that prioritizes screen space and control. 
